/* Scss Document */
@charset "utf-8";

@mixin linx ($link, $visit, $hover, $active) {
  a {
    color: $link !important;
    &:visited {
      color: $visit !important;
    }
    &:hover {
      color: $hover !important;
    }
    &:active {
      color: $active !important;
    }
  }
}

// import other mixins
@import "flex";
@import "breakpoint";