/* Scss Document */
@charset "utf-8";

.article-title {
    @extend .title;
    @extend .is-size-4-mobile; 
    @extend .is-size-2-tablet; 
    @extend .is-spaced;
}
.article-feature {
    margin-bottom: 3rem;
}
.article-text {
    font-size: 1.2em;
    line-height: 1.66;
}
.endnote {
    font-family: $title-family;
    font-size: .875em;    
    margin-top: 3rem;
    color: $grey-dark;
}

#body-column {
    @extend .is-two-thirds-tablet;
    @extend .is-7-widescreen;
    @extend .is-offset-2-tablet;
    @extend .is-offset-3-widescreen;
}
