/* Scss Document */
@charset "utf-8";

// styles for Home page

$feature-height: 100vw;

#home-feature {
    background-image: url('../img/home/mije_home_feature4.jpg');
    background-size: cover;
    background-position: 50% -2%;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 1rem;
    
    // flexbox on this element allows aligning contents to bottom
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(flex-end);
    min-height: $feature-height;
    
    // translucent overlay (mimics control over photo opacity)
    &::before {
        @include position(absolute, 0);
        background-color: $white;
        opacity: 0.12;
        content: "";
        display: block;
        pointer-events: none;
    }
    // gradient overlay darkens bottom of photo to increase text legibility
    &::after {
        @extend .gradient-edge-bottom;
    }
    
    .container {
        @include flex-grow(0);        
        position: relative;
        z-index: 5; // setting z-index places content above overlays
    }
    .columns {
        margin-top: -1.5rem;
    }
    .column:first-child {
        text-align: left;
        color: $white;
        @extend .is-half-tablet; 
        @extend .is-5-desktop;
        @extend .is-offset-1-desktop;
        @extend .is-one-third-widescreen;
        @extend .is-offset-2-widescreen;
        
        h2 {
            font-family: $title-family;
            font-size: 1.6rem;
            line-height: 1.2;
        }
    }
    .column:nth-child(2) {
        @extend .is-half-tablet;
        @extend .is-5-desktop;
        @extend .is-4-widescreen;
        
        &:not(.show-mobile) {
            @extend .is-hidden-mobile;
        }
        
        p {
            font-family: $subtitle-family;
            margin-bottom: 0; 
            padding-top: .5em;
        }
    }
    .blurb {
        @extend .yellowlink;
        
        .link-callout {
            font-size: .9em;
            display: block;
            margin-top: .5em;
        }
    }
    
    &.show-mobile {

        @include breakpoint(0 ($tablet - 1px)) {

            $feature-height: 88vw;
            background-size: auto $feature-height;
            //padding-bottom: 0;

            &::before,
            &::after {
                height: $feature-height;
            }

            .column:first-child {
                min-height: $feature-height;
                @include flexbox;
                @include flex-direction(column);
                @include justify-content(flex-end);
            }

            .column:nth-child(2) {
                display: block !important;

                &.blurb {
                    @include linx($mije-red-orange, $mije-red-orange, $mije-black, tint($mije-red-orange,20%));

                    p {
                        margin-bottom: 0; 
                    }
                }
            }
        }
        
        @include breakpoint($tablet) {
    
            .column:first-child {
                @include justify-content(flex-start);
            }
        }
        
    }
    
    @include breakpoint(375px) {
       .column:first-child {
            h2 {
                font-size: 1.875rem;
            }
        }
    }
    
    @include breakpoint($tablet) {
    
        $feature-height: 84vw;
        min-height: $feature-height;
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(flex-end);
        background-size: cover;
        //padding-bottom: 1.5em;
        
        &::before,
        &::after {
            height: 100% !important;
        }
      
        .column:first-child {
            min-height: 0 !important;
            display: block;          
            text-align: right;
            
            h2 {
                font-size: 2.2em;
            }            
        }
        
        .column:nth-child(2) {
            
            &.blurb {
                @include linx($mije-yellow, $mije-yellow, $white, tint($mije-yellow,20%));            
            }
            
            p {
                color: $white;
            }
        }
    }
    
    @include breakpoint($desktop) {
        
        $feature-height: 48vw;
        min-height: $feature-height;
        
        .container {
            padding-top: $feature-height * 0.5;
        }
        
        .column:nth-child(2) {
            p {
                margin-bottom: 1em; 
            }
        }
    }
    
    @include breakpoint($widescreen) {
       
        $feature-height: 45vw;
        min-height: $feature-height;
        
        .container {
            padding-top: $feature-height * 0.5;
        }
        
        .column:first-child {
            h2 {
                font-size: 2.5em;
            }
        }
        .column:nth-child(2) {
            p {
                font-size: $text-size-plus;
            }
         }
    }
    
    @include breakpoint($fullhd) {
       
        $feature-height: 38vw;
        min-height: $feature-height;
        
        .container {
            padding-top: $feature-height * 0.5;
        }
    }
}

.cta-boxes,
.home-listings {
    padding: 1em 0;
}

.cta-boxes {
    .column:first-child {
        @extend .is-5-widescreen; 
        @extend .is-offset-1-widescreen;
    }
    .column:last-child {
        @extend .is-5-widescreen;
        @extend .is-flex-desktop;
    }
}

.cta-box {
    padding: $column-gap * 1.5;
    
    h3 {
        font-family: $subtitle-family;
        font-weight: 300;
        @extend .is-size-5;
        line-height: 1.2;
    }
    p {
        font-size: $text-size-small;
        
        &:last-child {
            margin-bottom: 0;
        }
    }    
    .button {
        margin-top: 1em;
    }
    
    @include breakpoint($desktop) {
        @include flexbox;
        
         h3 { 
             text-align: right;
             margin-right: $column-gap * 1.5;
             @include flex-basis(40%);
         } 
         p {
            @include flex-basis(60%);
            font-size: $text-size-default;
         }
    }
}