/* Scss Document */
@charset "utf-8";

/* Site header */
.navbar {
    font-family: $mije-sans-serif;
}

.navbar-item,
.navbar-link {
    font-weight: bold;
    
    ul {
        font-weight: normal;
    }
}
.navbar-dropdown {
    font-size: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    @extend .whitelink;
    
    .navbar-item {
        font-weight: normal;
        
        &:first-child {
            padding-top: .75em;
        }
        &:last-child {
            padding-bottom: .75em;
        }
    }
    
    .is-active & {
        @extend .navlink;
        
        .navbar-item {
            font-weight: normal;
        
            &:first-child {
                padding-top: .5em;
            }
            &:last-child {
                padding-bottom: .5em;
            }
        }
    }
}

@include breakpoint($desktop $widescreen) {
    .navbar-end,
    .navbar-dropdown {
        font-size:.875em;
    }
    .navbar-item .button {
        font-size:1em;
    }
}

/* social links menu */
$navsocial-width: 1400px;
$navdonate-width: 1100px;


@include breakpoint($desktop) {
    .navbar-item.social,
    .navbar-item.donate {
        display: none;
    }
}
@include breakpoint($navsocial-width) {
    .navbar-item.social {
        display: flex;    
    }
}
@include breakpoint($navdonate-width) {
    .navbar-item.donate {
        display: flex;    
    }
}